{% include 'header.twig' %}
<main>
    <h2>Welcome to TejoBeta</h2>
    <p>Create and manage your website easily.</p>
    <p><a href="/contact.php">Contact us</a> for more information.</p>
</main>
{% include 'footer.twig' %}
